<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
	<button onclick="console.log('Нажали РАЗ');">Кнопочка РАЗ</button> 
	<button onclick="console.log('Нажали ДВА-С');">Кнопочка ДВА-С</button>
</body>

</html>
