<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
	<h1>#100днейкода</h1>
	<p>Вот так вот-съ, сударь.</p>
	<p>А Вы, голубчик, чего-с ожидали-с?</p>
	<p>Небось, 404? Отнюдь, отнюдь.</p>
</body>

</html>
